p, header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

header {
    text-align: center;
    background-color: burlywood;
}

table {
    text-align: center;
    border-collapse: collapse;
}

#zdjecie {
	width: 200px;
	height: 130px;
}
